*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#faf8ef;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    text-align:center;
}

h1{
    font-size:60px;
    color:#776e65;
    margin-bottom:10px;
}

.score-box{
    display:inline-block;
    background:#bbada0;
    color:white;
    padding:10px 20px;
    border-radius:8px;
    margin-bottom:20px;
    font-size:22px;
    font-weight:bold;
}

.board{
    width:420px;
    height:420px;
    background:#bbada0;
    border-radius:10px;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:repeat(4,1fr);
    gap:10px;
    padding:10px;
    margin:auto;
}

.tile{
    width:90px;
    height:90px;
    background:#cdc1b4;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:32px;
    font-weight:bold;
    border-radius:6px;
    color:#776e65;
}

button{
    margin-top:20px;
    padding:12px 25px;
    border:none;
    background:#8f7a66;
    color:white;
    font-size:18px;
    border-radius:6px;
    cursor:pointer;
}

button:hover{
    background:#6f5d4f;
}
